<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IP Address</title>
</head>
<body>

<form method="post" action="http://localhost:3000/ps5b/current">

  <label>IP address: </label><input type="text" name="ip"> </br>
  <button type="submit">Submit</button>



</form>

</body>
</html>