doctype html
html
  head
    title= "IP Address"
  body
    form(action="http://localhost:3000/ps5b/", method='POST')
      p
        | IP address:
        input(class='label', type='text', name="ip")
      input(class='button', type='submit', name="submit")
